@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #ec5b13;
  --color-primary-hover: #d94d0b;
  --color-sage: #e8f3ee;
  --color-sage-dark: #7ca392;
  --color-sky-soft: #e0f2fe;
  --color-cream: #fffbeb;
  --color-accent-green: #A7C491;
  --color-app-cream: #FCF9F6;
}

body {
  background-color: var(--color-app-cream);
  color: #334155;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
